body {
    background-image: url("./img/logo/background_logo.jpeg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navBar {
    width: 100%;
    height: 70px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.navBar .conteiner {
     height: inherit;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.navbarMenu{
    margin-right: 70px;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.navbarMenu li{
    display: inline-block;
}

.navbarMenu li a{
    display: inline-block;
    font-weight: 600;
    color: rgb(1, 213, 1);
    background-color: rgb(1, 66, 1);
    border-radius: 100px;
    margin-left: 30px;
    margin-right: 200px;
    margin-bottom: 20px;
    opacity: 0.6;
    text-decoration: none;
    padding: 10px;
    transition: all 500ms ease;
}

.navbarMenu li a:hover {
    transform: scale(1.2);
    opacity: 1;
}

.navbarWrap {
    flex-flow: row nowrap;
}

.navbarLogo {
    border-radius: 500px;
    border-color: black;
    width: 65px;
    height: 65px;
    margin-bottom: 10px;
    margin-left: 30px;
    cursor: pointer;
    transition: all 500ms ease;
}

.navbarLogo:hover {
    transform: scale(1.1);
}

.navbarWrap .change {
    opacity: .8;
    height: 40px;
    width: 50px;
    margin-bottom: 25px;
    border-radius: 50px;
    font-weight: 600;
    color: rgb(32, 2, 255);
    background-color: rgb(255, 234, 0);
    text-align: center;
    transition: all 500ms ease-in-out;
}

.navbarWrap .change:hover {
    transform: scale(1.2);
    opacity: 1;
}

.fondOwner .fondOwnerBox {
    height: 1000px;
}

.fondOwner .ownerPhoto{
    width: 50%;
    height: 100%;
}
.fondOwner .fondOwnerBox {
    height: 1000px;
}

.fondInformation .ownerPhoto{
    width: 50%;
    height: 100%;
}
.fondInformation .fondOwnerBox {
    height: 1000px;
}

.otherInformation .ownerPhoto{
    width: 50%;
    height: 100%;
}

.otherInformation .fondOwnerBox {
    height: 1000px;
}

.ukrMap {
    position: relative;
    text-align: center;
    margin-left: 60px;
}

.ukrMap img {
    position: absolute;
}

.lutsk {
    width: 170px;
    left: 150px;
    top: 100px;
    transition: all 500ms ease;
}

.lutsk:hover {
    z-index: 1;
    transform: scale(1.2);
}

.rivne {
    width: 190px;
    top: 107px;
    left: 241px;
    transition: all 500ms ease;
}

.rivne:hover {
    z-index: 1;
    transform: scale(1.2);
}

.zhytomyr {
    width: 181px;
    top: 146px;
    left: 378px;
    transition: all 500ms ease;
}

.zhytomyr:hover {
    z-index: 1;
    transform: scale(1.2);
}

.kiev {
    width: 207px;
    top: 162px;
    left: 519px;
    transition: all 500ms ease;
}

.kiev:hover {
    z-index: 1;
    transform: scale(1.2);
}

.chernihiv {
    width: 204px;
    top: 74px;
    left: 610px;
    transition: all 500ms ease;
}

.chernihiv:hover {
    z-index: 1;
    transform: scale(1.2);
}

.sumy {
    width: 188px;
    top: 77px;
    left: 778px;
    transition: all 500ms ease;
}

.sumy:hover {
    z-index: 1;
    transform: scale(1.2);
}

.kharkiv {
    width: 238px;
    top : 270px;
    left: 907px;
    transition: all 500ms ease;
}

.kharkiv:hover {
    z-index: 1;
    transform: scale(1.2);
}

.luhansk {
    width: 178px;
    top: 309px;
    left: 1125px;
    transition: all 500ms ease;
}

.luhansk:hover {
    z-index: 1;
    transform: scale(1.2);
}

.poltava {
    width: 242px;
    top: 273px;
    left: 717px;
    transition: all 500ms ease;
}

.poltava:hover {
    z-index: 1;
    transform: scale(1.2);
}

.cherkasy {
    z-index: 1;
    width: 235px;
    top: 311px;
    left: 540px;
    transition: all 500ms ease;
}

.cherkasy:hover {
    z-index: 2;
    transform: scale(1.3);
}

.donetsk {
    z-index: 1;
    width: 203px;
    top: 397px;
    left: 1035px;
    transition: all 500ms ease;
}

.donetsk:hover {
    z-index: 1;
    transform: scale(1.2);
}

.kirovohrad {
    z-index: 1;
    width: 300px;
    top: 429px;
    left: 546px;
    transition: all 500ms ease;
}

.kirovohrad:hover {
    z-index: 1;
    transform: scale(1.2);
}

.dnipro {
    width: 296px;
    top: 415px;
    left: 776px;
    transition: all 500ms ease;
}

.dnipro:hover {
    z-index: 2;
    transform: scale(1.2);
}

.zaporishia {
    width: 228px;
    top: 528px;
    left: 872px;
    transition: all 500ms ease;
}

.zaporishia:hover {
    z-index: 1;
    transform: scale(1.2);
}

.kherson {
    width: 242px;
    top: 598px;
    left: 703px;
    transition: all 500ms ease;
}

.kherson:hover {
    z-index: 1;
    transform: scale(1.2);
}

.mykolaiv {
    width: 220px;
    top: 521px;
    left: 574px;
    transition: all 500ms ease;
}

.mykolaiv:hover {
    z-index: 1;
    transform: scale(1.2);
}

.odessa {
    width: 237px;
    top: 520px;
    left: 418px;
    transition: all 500ms ease;
}

.odessa:hover {
    z-index: 1;
    transform: scale(1.2);
}

.vinnysia {
    width: 192px;
    top: 340px;
    left: 377px;
    transition: all 500ms ease;
}

.vinnysia:hover {
    z-index: 1;
    transform: scale(1.2);
}

.khmelnytskyi {
    width: 126px;
    top: 259px;
    left: 297px;
    transition: all 500ms ease;
}

.khmelnytskyi:hover {
    z-index: 1;
    transform: scale(1.2);
}

.chernivtsi {
    width: 200px;
    top: 463px;
    left: 196px;
    transition: all 500ms ease;
}

.chernivtsi:hover {
    z-index: 3;
    transform: scale(1.3);
}

.ternopil {
    width: 122px;
    top: 285px;
    left: 197px;
    transition: all 500ms ease;
}

.ternopil:hover {
    z-index: 3;
    transform: scale(1.3);
}

.lviv {
    width: 203px;
    top: 235px;
    left: 61px;
    transition: all 500ms ease;
}

.lviv:hover {
    z-index: 2;
    transform: scale(1.3);
}

.ivano-frankivsk {
    z-index: 2;
    width: 140px;
    height: 210px;
    top: 353px;
    left: 117px;
    transition: all 500ms ease;
}

.ivano-frankivsk:hover {
    z-index: 4;
    transform: scale(1.3);
}

.uzhhorod {
    width: 175px;
    top: 382px;
    left: 20px;
    transition: all 500ms ease;
}

.uzhhorod:hover {
    z-index: 5;
    transform: scale(1.3);
}

.crimea {
    width: 300px;
    top: 744px;
    left: 753px;
    transition: all 500ms ease;
}

.crimea:hover {
    z-index: 1;
    transform: scale(1.3);
}

.popUp {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 3150px;
    right: 0;
    z-index: 10;
    transform: translate(-7%, 25%) scale(0);
    transition: .4s ease-in-out ;
}

.popUp.active {
    transform: translateY(0) scale(100%);
}

.popUpConteiner {
    display: flex;
    width: 100%;
    height: 100%;
}

.popUpBody {
    background-image: url("./img/logo/popUp_logo.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 365px;
    border-width: 600;
    border-style: groove;
    border-color: black;
    margin: auto;
    width: 500px;
    background-color: #fff;
    border-radius: 10px;
    font-size: 12px;
    text-align: end;
    padding: 100px 15px 110px 15px;
    position: relative;
}

.popUpClose {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 21px;
    cursor: pointer;
    transition: all 500ms ease;
}

.popUpClose:hover {
    color: red;
    transform: scale(1.2);
}

.victoryClock {
    position: relative;
    position: absolute;
    margin-top: 1000px;
    margin-left: 500px;
    font-size: 80px;
}

.clock {
    position: absolute;
    left: 65px;
    bottom: 1px;
}
